#achievements {
    max-width: 600px;
    margin: 0 auto;
    text-align: left; 
}

#achievement-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.trophy-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#achievement-list li.completed {
    color: #6ab04c;
}

#achievement-list li.completed .trophy-icon {
    opacity: 1;
}
